/* *********************************************************** */
/* ************************************** */
/* HOME PAGE **********/
/* ************************************** */
/* *********************************************************** */

/* Header - Home page */
.h1HomePage {
  font-size: 2em;
  font-family: fantasy, serif;
  color: black;
  margin-bottom: 0.0001em;
  padding-top: 1em;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .h1HomePage {
    font-size: 5em;
    margin-top: 0em;
    padding-top: 0.5em;
  }
}

/* Horizontal line */
.hr {
  width: 70%;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .hr {
    margin-top: -5px;
    margin-bottom: 10px;
  }
}

/* To put line break after "YOU" in header on mobile view */
.headerPart1::after {
  content: "\a";
  white-space: pre;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .headerPart1::after {
    content: "\a";
    white-space: nowrap;
  }
}

/* Subheader & quote container */
.subheaderAndQuoteContainer {
  width: 95%;
  border-radius: 25px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 1px;
  padding-bottom: 5px;
  background-color: rgba(211, 211, 211, 0.5);
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .subheaderAndQuoteContainer {
    width: 80%;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.5);
  }
}

/* Sub-Header home page*/
.h3 {
  width: 95%;
  font-size: 1.15em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 0.0001em;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .h3 {
    width: 75%;
    font-size: 2.25em;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 0em;
  }
}

/* Quote */
.quote {
  font-size: 1em;
  margin-bottom: 0.0001em;
  padding-top: 0.5em;
  color: rgb(117, 86, 8);
}

/* Quote */
/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .quote {
    font-size: 1.4em;
    margin-bottom: 0.0001em;
    padding-top: 0.5em;
    color: rgb(117, 86, 8);
  }
}

/* To put line break after link in quote */
/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .lineBreak::after {
    content: "\a";
    white-space: pre;
  }
}

/* *********************************************************** */
/* ************************************** */
/* TO DO LIST PAGE **********/
/* ************************************** */
/* *********************************************************** */

/* *********************************************************** */
/* CONTAINER */
/* *********************************************************** */

/* Built container to put around whole page */
.container {
  height: 100vw;
  max-width: 100%;
  padding-bottom: 5%;
  /* padding: 5%; */

  /* Background & other colors */
  background: rgb(175, 226, 48);
  background: radial-gradient(rgb(175, 226, 48), rgb(227, 175, 32));

  /* Image fixed in viewport so doesn't move when content's height is greater than image's height */
  /* background-attachment: fixed; */
  /* Background image */
  background-repeat: no-repeat;
  /* background-position: 50% 5%; */
  background-image: url("/img/tree_of_life.png");
  /* Image rescales based on container's size */
  background-size: contain;

  /* Overall font */
  font-family: fantasy, serif;
  color: rgba(0, 0, 0, 0.714);
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .container {
    padding: 100px;
    padding-bottom: 0px;

    /* Background image */
    /* Image fixed in viewport so doesn't move when content's height is greater than image's height */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% -5%;
    background-size: auto;
  }
}

/* *********************************************************** */
/* HEADER & ADD TO DO BOX */
/* *********************************************************** */

/* Header - To do List page */
.h1ToDoPage {
  font-size: 2.25em;
  font-family: fantasy, serif;
  color: black;
  margin-bottom: 0.0001em;
  padding-top: 0.5em;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  .h1ToDoPage {
    font-size: 5em;
    margin-top: 0em;
    padding-top: 0em;
  }
}

/* Input box label & name/value */
.labelName {
  font-size: 1.25em;
  margin-right: 0.4em;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  /* Add To Do box label & name/value */
  .labelName {
    font-size: 1.75em;
  }
}

.inputName {
  color: rgb(92, 67, 4);
}

/* *********************************************************** */
/* LIST */
/* *********************************************************** */

/* To do List OVERALL formatting */
/* ul */
.ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  padding-bottom: 10%;
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  /* ul */
  .ul {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5%;
  }
}

/* To do List ITEM formatting */
.listItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(117, 86, 8);
  margin: 0.35em 0;
  margin-left: 1%;
  margin-right: 10%;
  padding: 1px;
  padding-left: 5px;
  padding-right: 25px;
  font-size: 0.8em;
  border: dashed gray;
  background-color: rgba(211, 211, 211, 0.5);
}

/* Laptop styling  ********************/
@media screen and (min-width: 950px) {
  /* To do List item formatting */
  .listItem {
    flex-wrap: nowrap;
    margin: 0.5em 0;
    margin-left: 182px;
    margin-right: 184px;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.5em;
  }
}

/* *********************************************************** */
/* LINKS */
/* *********************************************************** */

/* Link styling */
.appLink {
  color: rgb(210, 143, 17);
}

.appLink:visited {
  color: rgb(210, 143, 17);
}

.appLink:hover {
  color: rgb(150, 104, 20);
}

.appLink:focus {
  color: rgb(150, 104, 20);
}

/* *********************************************************** */
/* BUTTONS */
/* *********************************************************** */

.button {
  background-color: orange;
  color: rgb(92, 67, 4);
  border: 1px solid rgb(92, 67, 4);
  cursor: pointer;

  font-family: fantasy, serif;

  transition: all 0.1s ease-in;
  transform: translateY(4px);
}

.button:hover {
  background-color: rgb(195, 134, 19);
}

.buttonLarge {
  height: 25px;
  width: 25px;
  font-size: 1.1em;
  border-radius: 50%;
  padding-left: 5px;
  /* padding-right: 0.3px;
  padding-top: 0px;
  padding-bottom: 3px; */
  margin: 10px;
  font-weight: bolder;
  vertical-align: middle;
  rotate: 45deg;
  line-height: 25px;
}

.buttonSmall {
  height: 25px;
  width: 25px;
  font-size: 0.6em;
  border-radius: 50%;
  font-weight: bolder;
  padding: 1px;
  margin-top: 4px;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 5px;
  /* background-image: url("/img/xButton.png"); */
}
